@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

:root {
    --primary-text-color: #eff6ff;
    --primary-bg-color: #0e7b0d;

    --secondary-text-color: #fff;
    --secondary-bg-color: #0275d8;

    --warning-text-color: #fff;
    --warning-bg-color: #c2410c;

    --danger-text-color: #fff;
    --danger-bg-color: #d9534f;

    --button-font: 'Syncopate';
}
